# ========================================================================
# $File: .gitattributes $
# $Date: 2017-12-03 12:15:37 $
# $Revision: $
# $Creator: Jen-Chieh Shen $
# $Notice: See LICENSE.txt for modification and distribution information
#                   Copyright © 2017 by Shen, Jen-Chieh $
# ========================================================================


*.c diff=cpp
*.h diff=cpp
